nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center; 
}

.nav-links {
    padding: auto;
    margin: 20px;
    
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.logo {
    width:40px;
    margin-left: 100px;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    
}
.description {
    width: 1152px;
    font-weight: bold;
    padding: 10px;
    /* margin: 100px; */
}

.my-description {
    margin-right: 100px;
}


h1 {
    width: 506px;
}

#resume-btn {
    background-color: #FF6464;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5%;
    margin-top: 30px;
}

#profile-pic {
    width: 243px;
    height: 243px;
    border: 10px solid navy;
    border-radius: 50%;
}



#parent-body{
    margin: 100px;   
}

.main-content {
    display: flex;
}

#main-1, #main-2 {
    padding-left: 100px;
    width: 1152px;
    background-color: white;
    m
}


#others {
    background-color: rgb(230, 240, 245);
    height: 855px;
}

.first-layer {
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
    margin-bottom: 20px;

}



